<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body
    header.barra
      h1 UpTask - Administrador de Projetos
      a(href="/cerrar-sesion") Fechar Sessão

    main.contenedor  
      aside.contenedor-proyectos
        .panel.crear-proyecto 
          a(href="/nuevo-proyecto", class="boton") Novo Projeto
            span +

        .panel.lista-proyectos
          h2 Projetos
          ul#proyectos.proyectos
            if(proyectos.length)
              each proyecto in proyectos
                li
                  a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre
      block contenido

      //- pre= vardump(proyectos)

    script(src="/dist/bundle.js") 
    