<!DOCTYPE html>
html(lang="en")
  head
    include partials/header
  body.login
    .contenedor-formulario
      h1= nombrePagina
      p Escreva sua nova senha

      form.caja-login(method="POST")
        .campo
          label(for="password") Senha:          
          input(type="password" name="password" placeholder="Sua nova senha" )

        .campo.enviar
          input.boton(type="submit" value="Nova Senha")
