<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    style
      include ./email.css
  body
    h2 Nova Senha
    p Olá! Você solicitou alteração de sua senha. Clique no link abaixo - este link é temporário e, se vencer, você deverá fazer nova solicitação.
    a(href=`${resetUrl}`) Nova Senha
    p Caso não possa acessar esse link, visite #{resetUrl}
    p Se você não solicitou este email, por favor, ignore-o.
